<h1>{{title}}</h1>
<div *ngIf="success_msg;then updated_msg; else error_msg"class="container-fluid">
    user added successfully
</div>

<ng-template #error_msg><p class="text-danger">something went wrong</p></ng-template>
<ng-template #updated_msg>user updated successfully</ng-template>

<h1>Candidates</h1>
<ul>
    <li *ngFor="let contact of contacts; index as i; first as f; last as l;even as e; odd as o">
       <div >
         <p *ngIf="f" class="text-success">  {{i+1.}} {{contact.firstName}} {{contact.lastName}}</p>
        </div>
        <div >
            <p *ngIf="l" class="text-secondary">  {{i+1.}} {{contact.firstName}} {{contact.lastName}}</p>
        </div>
           <div >
            <p *ngIf="!l && !f" class="text-danger">  {{i+1.}} {{contact.firstName}} {{contact.lastName}}</p>
           </div>
    </li>
</ul>
<h1>ng switch</h1>
<div [ngSwitch]="superhero">
<p *ngSwitchCase="'batman'">
    I'm batman
</p>
<p *ngSwitchCase="'superman'">
    I'm superman
</p>
<p *ngSwitchDefault>
    I'm nobody
</p>
</div>

<h1>ng style</h1>
<div [ngStyle]="{'background-color':'green', 'color':'white'}">This is a green div</div>
<div [ngStyle]="{'background-color':backgoundColorProp, 'color':colorProp}">This is a dynamic div</div>
<div [ngStyle]="{'background-color':validated ? 'gray' : 'yellow', 'color':validated ? 'black' : 'green'}">This is a conditional div</div>

<h1>ng class</h1>
<div [ngClass]="'ngClass1'">This is ngClass example 1</div>
<div [ngClass]="'ngClass1 ngClass2'">This is ngClass example 2</div>
<div [ngClass]="dynamicClass">This is ngClass example 3</div>
<div [ngClass]="validated ? conditionalClass4 : conditionalClass5">This is ngClass example 4</div>
<div [ngClass]="{ngClass1: false, ngClass2: true, ngClass3: false}">This is ngClass example 5</div>

<div [ngClass]="getNgClassName()">This is ngClass example 6</div>

<h1>Property Binding</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
       
    </tr>
    <tr *ngFor="let contact of contacts">
        <td [title]="contact._id"> {{ contact._id}}</td>
        <td [title]="contact.firstName">{{ contact.firstName}}</td>
        <td [title]="contact.lastName">{{ contact.lastName}}</td>
       
    </tr>
</table>
<img [src]="imgSrc" [alt]= "imgAlt"/>
<p [style.color]="txtColor"> This is property binded text</p>
<router-outlet></router-outlet>