.ngClass1 {
    color: chocolate;
    background-color: bisque;
}

.ngClass2 {
    color: chocolate;
    background-color: black;
    font-size: 2rem;
}

.ngClass3 {
    margin: 8px;
    padding: 4px;
    color:cadetblue;
    background-color: tomato;
    font-size: 1.5rem;
    border-radius: 5px;
    border-color: burlywood;
    border-width: 2px;
}

.ngClass4 {
    margin: 8px;
    padding: 4px;
    color:orange;
    background-color: aqua;
    font-size: 1.5rem;
    border-radius: 5px;
    border-color: burlywood;
    border-width: 2px;
}
.ngClass5 {
    margin: 16px;
    padding: 8px;
    color:cadetblue;
    background-color: cornflowerblue;
    font-size: 1.5rem;
    border-radius: 8px;
    border-color: indianred;
    border-width: 5px;
}